*.ipynb_checkpoints
*.csv
*.xlsx
*.pyc
development/
financas_env/
docker_image
Dockerfile
test.ipynb
Dockerfile
.env.local
improvements
.gitignore
.env
.env.old
src/__pycache__/__init__.cpython-310.pyc
src/__pycache__/banks.cpython-310.pyc
src/__pycache__/classifier.cpython-310.pyc
src/__pycache__/parcelas.cpython-310.pyc
src/__pycache__/postgres.cpython-310.pyc
