*.ipynb_checkpoints
*.csv
*.xlsx
development/
docker_image
Dockerfile
test.ipynb
Dockerfile
.env.local
improvements
.gitignore
src/__pycache__/classifier.cpython-310.pyc
src/__pycache__/parcelas.cpython-310.pyc
.env
